<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>
<%@ include file="../public.jsp"%>
<!DOCTYPE html>
<html>

	<head>
	
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	    <title>视频首页</title>
	
	    <link href="../css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
	    <link href="../css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
	    <link href="../css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
	    <link href="../css/animate.min.css" rel="stylesheet">
	    <link href="../css/style.min.css?v=4.0.0" rel="stylesheet">
	
	</head>
	
	<body>
        
        <!-- Panel Other -->
        <div class="ibox">
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!-- Example Events -->
                        <form role="form" class="form-inline">
                            <div class="form-group" class="col-sm-3">
                                <input class="form-control input-sm" type="text" placeholder="输入视频或节目名" id="name" name="name" >
                            </div>
                            <div class="form-group" style="margin-left: 15px">
                                <label for="status">状态:</label>
                                <select name="status" class="form-control input-sm">
									<option value=""></option>	                                
                                	<option value="online">上线</option>
                                	<option value="offline">下线</option>
                                </select>
                            </div>
                            <button class="btn btn-primary btn-sm" id="searchBtn" style="margin-left: 30px">查询</button>
                        </form>
                        <div class="example-wrap">
                            <c:if test="${!empty notify}">
                            	<div class="alert alert-success">
                                    ${notify}
                                </div>
                            </c:if>
                            <div class="example">
                                <div class="btn-group hidden-xs" id="toolbar">
                                    <button type="button" id="onlineBtn" class="btn btn-outline btn-default">
                                        <span>上线</span>
                                    </button>
                                    <button type="button" id="offlineBtn" class="btn btn-outline btn-default">
                                        <span>下线</span>
                                    </button>
                                </div>
                                <table id="table1" data-height="500" data-mobile-responsive="true">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
    
	    <script src="../js/jquery.min.js?v=2.1.4"></script>
	    <script src="../js/bootstrap.min.js?v=3.3.5"></script>
	    <script src="../js/content.min.js?v=1.0.0"></script>
	    <script src="../js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
	    <script src="../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
	    <script src="../js/plugins/layer/layer.js"></script>
	    <script>
	        $(function(){
	            $('#table1').bootstrapTable({
	            	method: 'get',
	            	url: "../video/ajaxListVideo.do",
					striped : true,
					cache: false,
					pagination : true,
					sidePagination : "server",
					pageNumber:1,      //初始化加载第一页，默认第一页
	                pageSize: 10,
	                toolbar : "#toolbar",
	                showColumns: true, // 开启自定义列显示功能
	                showRefresh: true, // 开启刷新功能
	                pageList: [10, 25, 50, 100],
	                queryParamsType:'',
	                queryParams: function (params) {  
				        //返回的参数的值为空，则当前参数不会发送到服务器端  
				        params.name = $('input[name="name"]').val();
				        params.status = $('select[name="status"]').val();
				        return params;
				    },
					columns: [{
						checkbox: true,
						width: "5%",
					}, {
						field: 'name',
						title: '视频名',
						width: "15%",
					}, {
						field: 'period',
						title: '集数/期数',
						width: "10%",
					}, {
						field: 'charge',
						title: '付费标识',
	                    width: "10%",
	                    formatter : 
	                    function(value, row, index) {
							if (row.charge == 'N') {
								return ["免费"].join('');
							} else {
								return ["<span style='color:red'>付费</span>"].join('');
							}
						}
					}, {
						field: 'status',
						title: '状态',
						width: "10%",
						formatter : 
						function(value, row, index) {
							if (row.status == 'online') {
								return ["上线"].join('');
							} else {
								return ["<span style='color:red'>下线</span>"].join('');
							}
						}
					}, {
						field: 'onlineTime',
						title: '入库时间',
						width: "20%",
					}, {
						field: 'operate',
						title: '操作',
						width: "30%",
						align: "center",
						events: operateEvents,
						formatter: operateFormatter
					}, ]
				});
	        });
	        
	        function operateFormatter(value, row, index) {
	            return [
	                '<button type="button" title="编辑" class="edit btn btn-white  btn-sm" style="margin-right:15px;"><i class="fa fa-pencil"/></button>',
	                '<button type="button" class="online btn btn-primary btn-sm" style="margin-right:15px;">上线</button>',
	                '<button type="button" class="offline btn btn-danger btn-sm" style="margin-right:15px;">下线</button>',
	            ].join('');
	        }
	        
	        var operateEvents = {
	            'click .online': function (e, value, row, index) {
	                $.ajax({
			            type: 'post',
			            data: {
	                		id : row.id,
	                		status : "online",
			            },
			            url: '../video/ajaxUpdateVideoStatus.do',
			            success: function (data) {
			                layer.msg("上线成功");
			                $('#table1').bootstrapTable("refresh");
			            }
	        		});
		        },
		        'click .offline': function (e, value, row, index) {
		         	$.ajax({
			            type: 'post',
			            data: {
	                		id : row.id,
	                		status : "offline",
			            },
			            url: '../video/ajaxUpdateVideoStatus.do',
			            success: function (data) {
			                layer.msg("下线成功");
			                $('#table1').bootstrapTable("refresh");
			            }
	        		});
		        },
	            'click .edit': function (e, value, row, index) {
					window.location.href="../video/edit.do?id=" + row.id;
		        },
	        };
	        
	        $("#onlineBtn").on("click", function(){
	        	var rows = $("#table1").bootstrapTable('getSelections');
	        	if (rows != '' && rows != null) {
	        		var ids = [];
		        	$.each(rows,function(i, row){
						ids[i] = row.id;
		        	});
		        	$.ajax({
				        type: 'post',
				        data: {
			          		idList : ids,
			          		status : 'online',
				        },
				        url: '../video/ajaxchangeVideoStatusList.do',
				        success: function (result) {
				        	if (result != -1) {
				        		layer.msg("上线成功");
				        		$('#table1').bootstrapTable("refresh");
				        	} else {
				        		layer.msg("上线失败");
				        	}
				        }
		  			});
	        	} else {
	        		layer.msg("请至少选择一项");
	        	}
	        });
	        
	        $("#offlineBtn").on("click", function(){
	        	var rows = $("#table1").bootstrapTable('getSelections');
	        	if (rows != '' && rows != null) {
	        		var ids = [];
		        	$.each(rows,function(i, row){
						ids[i] = row.id;
		        	});
		        	$.ajax({
				        type: 'post',
				        data: {
			          		idList : ids,
			          		status : 'offline',
				        },
				        url: '../video/ajaxchangeVideoStatusList.do',
				        success: function (result) {
				        	if (result != -1) {
				        		layer.msg("下线成功");
				        		$('#table1').bootstrapTable("refresh");
				        	} else {
				        		layer.msg("下线失败");
				        	}
				        }
		  			});
	        	} else {
	        		layer.msg("请至少选择一项");
	        	}
	        });
	        
	        $("#searchBtn").on("click", function(e){
	        	e.preventDefault();
	        	$('#table1').bootstrapTable("refresh");
	        });
	    </script>

	</body>

</html>
