<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>栏目编辑</title>

    <link href="../css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="../css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="../css/style.min.css?v=4.0.0" rel="stylesheet">
    <link href="../css/plugins/datapicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<link  href="../css/plugins/webuploader/webuploader.css" rel="stylesheet">
	<style type="text/css">
		#uploader-demo .thumbnail img {
		    width: 100%;
		}
		.file-item {
		    float: left;
		    position: relative;
		    margin: 0 20px 20px 0;
		    padding: 4px;
		}
		.file-item .error {
		    position: absolute;
		    top: 4px;
		    left: 4px;
		    right: 4px;
		    background: red;
		    color: white;
		    text-align: center;
		    height: 20px;
		    font-size: 14px;
		    line-height: 23px;
		}
		.file-item .info {
		    position: absolute;
		    left: 4px;
		    bottom: 4px;
		    right: 4px;
		    height: 20px;
		    line-height: 20px;
		    text-indent: 5px;
		    background: rgba(0, 0, 0, 0.4);
		    color: white;
		    overflow: hidden;
		    white-space: nowrap;
		    text-overflow : ellipsis;
		    font-size: 12px;
		    z-index: 10;
		}
	</style>
</head>

<body>
    <div class="ibox">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <h2>栏目编辑</h2>
                        <hr>
                    </div>
                    <form class="form-horizontal m-t" id="form" action="../programa/addOrUpdatePrograma.do" method="post">
                       <input type="hidden" name="id" value="${programa.id}">
                       <input type="hidden" name="operation" value="${operation}">
                       <div class="form-group">
                           <label class="col-sm-2 control-label">栏目名 *：</label>
                           <div class="col-sm-4">
                               <input name="name" class="form-control" type="text" value="${programa.name}" >
                           </div>
                       </div>
                       <div class="form-group">
                           <label class="col-sm-2 control-label">父栏目 *：</label>
                           <div class="col-sm-3">
                               <select name="parentId" class="form-control">
								   <c:forEach items="${programaList}" var="list">
								   		<option value="${list.id}">${list.name}</option>
								   </c:forEach>
							   </select>
                           </div>
                           <div class="col-sm-5">
                           	   
                           </div>
                       </div>
                       <div class="form-group">
                           <label class="col-sm-2 control-label" >上线时间 ：</label>
                           <div class="col-sm-4 input-group date form_datetime" data-date-format="yyyy-mm-dd hh:ii:ss" style="padding-left: 16px">
                           	  <input type="text" name="onlineTime" class="form-control" value='<fmt:formatDate pattern="yyyy-MM-dd hh:mm:ss"  value="${programa.onlineTime}" />'>
                           	  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                           </div>
                       </div>
                       <div class="form-group">
                           <label class="col-sm-2 control-label">下线时间 ：</label>
                           <div class="col-sm-4 input-group date form_datetime" data-date-format="yyyy-mm-dd hh:ii:ss" style="padding-left: 16px">
                           	  <input type="text" name="offlineTime" class="form-control" value='<fmt:formatDate pattern="yyyy-MM-dd HH:mm:ss"  value="${programa.offlineTime}" />'>
                           	  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                           </div>
                       </div>
                       <div class="form-group">
                       		<label class="col-sm-2 control-label">状态 *：</label>
                       		<dir class="col-sm-4">
                       			<div class="radio radio-info radio-inline">
                                    <input id="status1" type="radio" value="online" name="status" <c:if test="${programa.status == 'online'}">checked</c:if>>
                                    <label for="status1"> 上线 </label>
                                </div>
                                <div class="radio radio-info radio-inline">
                                    <input id="status2" type="radio" value="offline" name="status" <c:if test="${programa.status != 'online'}">checked</c:if>>
                                    <label for="status2"> 下线 </label>
                                </div>
                       		</dir>
                       </div>
                       <div class="form-group">
                       		<label class="col-sm-2 control-label">背景图 ：</label>
                       		<div id="uploader-demo" style="padding-left : 195px">
							    <!--用来存放item-->
							    <div id="filebox">
								    <c:choose>
										<c:when test="${!empty programa.background}">
									    	<div id="imageList" class="uploader-list">
									    		<div class="file-item thumbnail " style="">
									                <img src="../uploadImg/${programa.background}"/>
									                <input type="hidden" name="background" value="${programa.background}"/>
									                <div class="info operation"><i class="fa fa-trash" style="padding-right: 5px"></i></div>
									            </div>
									    	</div>
									    </c:when>
										<c:otherwise>
								    		<div id="imagePicker">
								                <div id="imagePicker">选择图片</div>
								            </div>
								    	</c:otherwise>
									</c:choose>
								</div>
							</div>
                       </div>
                      
                       <div class="form-group">
                       		<label class="col-sm-2 control-label">跳转url *：</label>
                           <div class="col-sm-4">
                               <input name="url" class="form-control" type="text" value="${programa.url}" >
                           </div>
                       </div>
                       <div class="form-group">
                           <label class="col-sm-2 control-label">描述：</label>
                           <div class="col-sm-5">
                               <textarea id="desc" name="desc" class="form-control" rows="3">${programa.memo}</textarea>
                           </div>
                       </div>
                       <div class="form-group">
                           <div class="col-sm-4 col-sm-offset-3">
                               <button class="btn btn-primary" type="submit" style="margin-right:15px">保存</button>
                               <button class="btn btn-white" onclick="window.history.go(-1)">取消</button>
                           </div>
                       </div>
                   </form>
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
            
    <script src="../js/jquery.min.js?v=2.1.4"></script>
    <script src="../js/bootstrap.min.js?v=3.3.5"></script>
    <script src="../js/plugins/validate/jquery.validate.min.js"></script>
    <script src="../js/plugins/validate/messages_zh.min.js"></script>
    <script src="../js/plugins/webuploader/webuploader.min.js"></script>
    <script src="../js/plugins/datapicker/bootstrap-datetimepicker.min.js"></script>
    <script src="../js/plugins/datapicker/bootstrap-datetimepicker.zh-CN.js"></script>
    
   	<script>
		//参数校验
		$(function() {			
   	 		$("#form").validate({
   	 			rules: {
   	 				name: {
   	 					required: true,
   	 				},
   	 				url: {
   	 					required: true,
   	 				},
  	 			},
  	 			messages: {
  	 				name: {
						required:"栏目名必填",
  	 				},
  	 				url: {
						required:"跳转地址必填",
  	 				},
  	 			}
   	 		});
		});
		
		//初始化时间选择
		$('.form_datetime').datetimepicker({
	        language:  'zh-CN',
	        weekStart: 1,
	        todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
	        showMeridian: 1
	    });
		
		//图片上传
		function initUpload() {
			var uploader = WebUploader.create({
				auto : true,
				swf: '../js/Uploader.swf',
				server : "../programa/uploadPicture.do",
				formData:{
					id : "${empty programa.id ? -1 : programa.id}",
				},
				pick: {
					id:"#imagePicker",
					multiple: false,
				},
				accept: {
			        title: 'Images',
			        extensions: 'gif,jpg,jpeg,bmp,png',
			        mimeTypes: 'image/jpg,image/jpeg,image/png'
			    },
				thumb:{
					width: 180,
					height: 236,
					crop: true,
				},
				resize: false,
			});
			//上传成功
			uploader.onUploadSuccess = function( file, response ) {
				if (response.status == '1') {
					var parent = $('#imagePicker'),
					root = parent.parents('#filebox');
					parent.remove();
					var template = '<div id="imageList" class="uploader-list"><div class="file-item thumbnail"><img src=' + response.path + response.fileName +'><input type="hidden" name="background" value="'+response.fileName+'"/><div class="info operation"><i class="fa fa-trash"/></div></div></div>';
					root.append(template);
				}
			};
			//上传失败
			uploader.onError = function( code ) {
				alert("图片上传失败");
			};
			//上传队列
			uploader.onFileQueued = function(file) {
				
			};
		}
		
		initUpload();
		
		$(document).on('mouseover', '.thumbnail', function(){
			$(this).children('.operation').show();
		});
		
		$(document).on('mouseout', '.thumbnail', function(){
			$(this).children('.operation').hide();
		});
		
		//删除图片
		$(document).on("click", ".operation i", function(){
			var template = '<div id="imagePicker">选择图片</div>';
			if(confirm("是否删除此图片？")) {
				$(this).parents('#imageList').replaceWith(template);
				initUpload();
			}
		});
	</script>
</body>

</html>
