<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>
<%@ include file="../public.jsp"%>
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>栏目关联</title>

    <link href="../css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="../css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="../css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/style.min.css?v=4.0.0" rel="stylesheet">

</head>

<body>
    <!-- Panel Other -->
    <div class="ibox">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="btn-group hidden-xs" id="toolbar">
                        <button id="relateButton" type="button" class="btn btn-outline btn-default">
                            <i class="fa fa-link" aria-hidden="true"></i>
                            <span>关联选中</span>
                        </button>
                    </div>
                    <table id="table1" data-height="330" data-mobile-responsive="true">
                    </table>
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
    
    <script src="../js/jquery.min.js?v=2.1.4"></script>
    <script src="../js/bootstrap.min.js?v=3.3.5"></script>
    <script src="../js/content.min.js?v=1.0.0"></script>
    <script src="../js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <%--<script src="../js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    --%><script src="../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="../js/plugins/layer/layer.js"></script>
    <script>
        $(function(){
            $('#table1').bootstrapTable({
            	method: 'get',
            	url: "../programa/ajaxListPrograma.do",
				striped : true,
				cache: false,
				pagination : true,
				sidePagination : "server",
				pageNumber:1,      //初始化加载第一页，默认第一页
                pageSize: 10,
                toolbar : "#toolbar",
                pageList: [10, 25, 50, 100],
                queryParamsType:'',
				columns: [{
					checkbox: true,
					width: "5%",
				},{
					field: 'name',
					title: '栏目名称',
					width: "20%",
				}, {
					field: 'status',
					title: '状态',
					formatter : 
						function(value, row, index) {
							if (row.status == 'online') {
								return ["上线"].join('');
							} else {
								return ["<span style='color:red'>下线</span>"].join('');
							}
						}
				}, {
					field: 'url',
					title: '跳转地址',
					width: "30%",
				}, {
					field: 'operate',
					title: '操作',
					width: "35%",
					align: "center",
					events: operateEvents,
					formatter: operateFormatter
				}, ]
			});
        });
        
        function operateFormatter(value, row, index) {
            return [
               '<button type="button" class="relate btn btn-primary btn-sm" style="margin-right:15px;">栏目关联</button>',
            ].join('');
        }
        
        var operateEvents = {
		    'click .relate': function (e, value, row, index) {
		    	$.ajax({
			        type: 'post',
			        dataType:"json",
			        data: {
		          		id : row.id,
		          		parentId: "${parent_id}",
			        },
			        url: '../programa/ajaxRelatePrograma.do',
			        success: function (data) {
			        	if (data != -1) {
			        		layer.msg("关联成功");
			        	} else {
			        		layer.msg("关联失败，重复关联");
			        	}
			        }
		  		});
		    },
        };
        
        $("#relateButton").on("click", function(){
        	var rows = $("#table1").bootstrapTable('getSelections');
        	if (rows != '' && rows != null) {
        		var ids = [];
	        	$.each(rows,function(i, row){
					ids[i] = row.id;
	        	});
	        	$.ajax({
			        type: 'post',
			        data: {
		          		idList : ids,
		          		parentId: "${parent_id}",
			        },
			        url: '../programa/ajaxRelateProgramaList.do',
			        success: function (result) {
			        	if (result != -1) {
			        		
			        		layer.msg("关联成功");
			        	} else {
			        		layer.msg("关联失败，重复关联");
			        	}
			        }
	  			});
        	} else {
        		layer.msg("请至少选择一项");
        	}
        });
    </script>

</body>

</html>
