<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>二级栏目</title>

    <link href="../css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="../css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="../css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/style.min.css?v=4.0.0" rel="stylesheet">

</head>

<body>
        <!-- Panel Other -->
        <div class="ibox">
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!-- Example Events -->
                        <div class="">
                            <h2 class="col-sm-11" style="float:left;padding-left: 0">${programa.name}/二级栏目</h2>
                            <button type="button" class="btn btn-primary " onclick="window.history.go(-1)">返回</button>
                            <hr>
                            <c:if test="${!empty notify}">
                            	<div class="alert alert-success">
                                    ${notify}
                                </div>
                            </c:if>
                            <div class="example">
                                <div class="btn-group hidden-xs" id="toolbar">
                                    <button type="button" class="btn btn-outline btn-default" id="layerButton">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                        <span>关联栏目</span>
                                    </button>
                                </div>
                                <table id="table1" data-height="500" data-mobile-responsive="true">
                                </table>
                            </div>
                        </div>
                        <!-- End Example Events -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
    
    <script src="../js/jquery.min.js?v=2.1.4"></script>
    <script src="../js/bootstrap.min.js?v=3.3.5"></script>
    <script src="../js/content.min.js?v=1.0.0"></script>
    <script src="../js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <%--<script src="../js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    --%><script src="../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="../js/plugins/layer/layer.js"></script>
    <script>
        $(function(){
            $('#table1').bootstrapTable({
            	method: 'get',
            	url: "../programa/ajaxListSecondPrograma.do?id=" + ${programa.id},
				striped : true,
				cache: false,
				pagination : true,
				sidePagination : "server",
				pageNumber:1,      //初始化加载第一页，默认第一页
                pageSize: 10,
                showColumns: true, // 开启自定义列显示功能
                showRefresh: true, // 开启刷新功能
                pageList: [10, 25, 50, 100],
                queryParamsType:'',
                toolbar:"#toolbar",
				columns: [{
					checkbox:true,
					width: "5%",
				},{
					field: 'name',
					title: '栏目名称',
					width: "20%",
				}, {
					field: 'status',
					title: '状态',
					formatter : 
						function(value, row, index) {
							if (row.status == 'online') {
								return ["上线"].join('');
							} else {
								return ["<span style='color:red'>下线</span>"].join('');
							}
						}
				}, {
					field: 'position',
					title: '位置',
					width: "25%",
				}, {
					field: 'operate',
					title: '操作',
					width: "40%",
					align: "center",
					events: operateEvents,
					formatter: operateFormatter
				}, ]
			});
        });
        
        function operateFormatter(value, row, index) {
        		return [
	               '<button type="button" title="上移" class="position_up btn btn-white btn-sm" style="margin-right:15px;"><i class="fa fa-sort-up"/></button>',
	               '<button type="button" title="下移" class="position_down btn btn-white btn-sm" style="margin-right:15px;"><i class="fa fa-sort-down"/></button>',
	               '<button type="button" title="取消关联" class="remove btn btn-white btn-sm" style="margin-right:15px;"><i class="fa fa-unlink"/></button>',
	               '<button type="button" title="查看关联节目" class="item btn btn-white btn-sm" style="margin-right:15px;"><i class="fa fa-film"/></button>',
	               '<button type="button" title="编辑" class="edit btn btn-white btn-sm" style="margin-right:15px;"><i class="fa fa-pencil"/></button>',
	            ].join('');
        }
        
        
        function operateFormatter1(value, row, index) {
            return [
            	
            ].join('');
        }
        
        
        var operateEvents = {
		    'click .position_up': function (e, value, row, index) {
		    	$.ajax({
			        type: 'post',
			        data: {
			          		id : row.id,
			          		parentId : "${programa.id}",
			          		position:row.position,
			        },
			        url: '../programa/upPrograma.do',
			        success: function (data) {
			        	if (data == -1) {
			        		layer.msg("已经是第一个了~");
			        	} else {
			            	$("#table1").bootstrapTable("refresh");
			        	}
			        }
		  		});
		    },
		    'click .position_down': function (e, value, row, index) {
		    	$.ajax({
			        type: 'post',
			        data: {
			          		id : row.id,
			          		parentId : "${programa.id}",
			          		position:row.position,
			        },
			        url: '../programa/downPrograma.do',
			        success: function (data) {
			        	if (data == -1) {
			        		layer.msg("已经是最后一个了~");
			        	} else {
			            	$("#table1").bootstrapTable("refresh");
			        	}
			        }
		  		});
		    },
		    'click .remove': function (e, value, row, index) {
				$.ajax({
			        type: 'post',
			        data: {
			          		id : row.id,
			          		parentId : "${programa.id}",
			          		position : row.position
			        },
			        url: '../programa/removeRelatePrograma.do',
			        success: function (data) {
			        	layer.msg("删除成功");
			            $("#table1").bootstrapTable("refresh");
			        }
		  		});
		    },
		    'click .item': function (e, value, row, index) {
		    	window.location.href="../programa/listItem.do?id=" + row.id + "&name=" + row.name;
		    },
		    'click .edit': function (e, value, row, index) {
				window.location.href="../programa/edit.do?id=" + row.id;
		    },
            
        };
        
        $('#layerButton').on('click', function(){
			 layer.open({
			  type: 2,
			  title: '关联栏目',
			  maxmin: true,
			  shadeClose: true, //点击遮罩关闭层
			  area : ['800px' , '450px'],
			  content: '../programa/relatePrograma.do?parentId=${programa.id}'
			});
		});
    </script>

</body>

</html>
